<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

    <style>
        .arrow-div{
            position: relative;
        }

        .arrow{
            position: absolute;
            right: 20px;
        }

        .bg-light-blue{
            background-image: linear-gradient(180deg, #7dc0ff, #649acc);
        }
        .bg-light-blue:hover{
            color: black !important;
            background: rgb(200,200,200);
            background: linear-gradient(185deg, rgba(200,200,200,1) 44%, rgba(255,255,255,1) 100%, rgba(8,97,131,1) 100%, rgba(0,212,255,1) 100%);
        }

        .text-light-grey{
            color: #7B7D7F;
        }

        .bg-dirty-white{
            background-color: #FAFAFB;
            color: #7B7D7F;
        }

        .bg-darker-dirty-white{
            background-color: #F2F2F2;
            color: #7B7D7F;
        }
        
        .txt-hero{
            font-size: calc( 1rem + 1vw);
            opacity: 1;
            font-weight: normal;
        }

        .bg-hero {
            position: relative;
            background-image: url('img/bg-hero.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .navbar-nav a{
            padding-top: 2px;
            padding-bottom: 0;
        }
        .navbar-nav a.active{
            padding-top: 0;
            padding-bottom: 0;

            border-top: black solid 2px !important;
        }
        .fs-6{
            font-size: 13px !important;
        }
        .fs-7{
            font-size: 16px !important;
        }
        .bg-3973b7{
            background-color: #2d5a90 !important;
        }
        .bg-eee{
            background-color: #eee !important;
        }
        .bg-3e628e{
            background-color: #3e628e !important;
        }
        .bg-70ade6{
            background-color: #4d7bb2 !important;
        }
        .text-7dc0ff{
            color: #7dc0ff;
        }
    </style>

    <title>Home</title>
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <a class="navbar-brand" href="#">
            <img src="img/logo.svg" alt="Bootstrap" class="img-fluid">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="#">Home</a>
              <a class="nav-link" href="#">Birth Certificate</a>
              <a class="nav-link" href="#">Death Certificate</a>
              <a class="nav-link" href="#">Contact Us</a>
              <a class="nav-link" href="#">FAQs</a>
            </div>
          </div>
        </div>
    </nav>

    <!-- Hero -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-hero p-5">
                <div class="row justify-content-center">
                    <div class="col-5 pb-5">
                    	<div class="d-flex align-items-center justify-content-center"></div>
                        <p class="text-center txt-hero text-white mt-5 fw-bold fs-1">
                            FAQs Vital records
                        </p>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <section class="container my-5">
    	<div class="row">
    		<div class="col-lg-4">
    			<p class="fs-5 fw-bold text-light-grey">
    				<i class="fa-solid fa-arrow-right"></i> Vital Record Information
    			</p>
    			<p>
    				<a href="" class="link link-secondary text-decoration-none fw-semibold">
    					Requesting your certificate
    				</a>
    			</p>
    			<p>
    				<a href="" class="link link-secondary text-decoration-none fw-semibold">
    					About birth / death certificate processing times and fees
    				</a>
    			</p>
    			<p>
    				<a href="" class="link link-secondary text-decoration-none fw-semibold">
    					My order
    				</a>
    			</p>
    		</div>
    		<div class="col-lg-8">
    			<p class="fs-5 fw-semibold text-light-grey">
    				If you have any issues or questions regarding your order we have a dedicated customer service team that is here to help.
    			</p>
    			<p>
				  <p>
				  <a class="link text-decoration-none fw-semibold text-7dc0ff" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
				    What happens if I made a mistake on my application? <i class="fa-solid fa-greater-than"></i>
				  </a>
				  </p>
				  	<div class="collapse" id="collapseExample1">
					  <div class="card card-body border-0 text-light-grey">
					    If you noticed that you made a mistake on your application, please contact us as soon as possible so we can amend it. We aim to provide the best possible service and therefore have a dedicated team of customer service agents that will assist you every step of the application process. You can contact us through our contact form or via email to info@realvitalbirthcertificate.com and one of our customer service agents will reply with a solution between 1 to 2 business days.
					  </div>
					</div>

				  <p>
				  <a class="link text-decoration-none fw-semibold text-7dc0ff" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
				    What is a vital record? <i class="fa-solid fa-greater-than"></i>
				  </a>
				  </p>

				  	<div class="collapse" id="collapseExample2">
					  <div class="card card-body border-0 text-light-grey">
					    A Vital record is a document which records life events, kept and issued by governmental authorities, in this case by the state of birth or death. Some vital record jurisdictions also include records of civil unions or domestic partnerships. In the United States, vital records are typically maintained at both the county and state levels.
					  </div>
					</div>

				  <p>
				  <a class="link text-decoration-none fw-semibold text-7dc0ff" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
				    Why do I need a Birth certificate? <i class="fa-solid fa-greater-than"></i>
				  </a>
				  </p>

				<div class="collapse" id="collapseExample3">
				  <div class="card card-body border-0 text-light-grey">
				    A birth certificate is an official notation that includes personal identifiable information that is issued by your state of birth. A birth certificate is often required as a means to legally prove your identity and/or age. Situations when you'll likely be asked to provide your birth certificate include, but are not limited to:
				    <ul>
					    <li>Applying for a passport</li>
					    <li>Applying for government benefits</li>
					    <li>Enrolling in some schools</li>
					    <li>Joining the military</li>
					    <li>Claiming pension or insurance benefits</li>
					    <li>Getting your driver's license</li>
					    <li>Getting a replacement Social Security card</li>
					    <li>Genealogy information</li>
					    <li>International use</li>
					    <li>Court proceedings</li>
					    <li>Social security</li>
					</ul>

				  </div>
				</div>

				  <p>
				  <a class="link text-decoration-none fw-semibold text-7dc0ff" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
				    What happens if I made a mistake on my application? <i class="fa-solid fa-greater-than"></i>
				  </a>
				  </p>

				<div class="collapse" id="collapseExample4">
				  <div class="card card-body border-0 text-light-grey">
				    A death certificate is an official document that records a person’s cause of death along with personal identifiable information (like place of birth, name of parents, address, age at time of death,) that is issued by the state where the death occurred. A death certificate is often required to legally prove the identity of the deceased in order to request certain benefits or for genealogy purposes. Situations when you'll likely be asked to provide a death certificate include, but are not limited to:
				    <ul>
				    	<li>Estate settlement</li>
					    <li>Pension / Retirement</li>
					    <li>Property transfer</li>
					    <li>Stocks / bonds</li>
					    <li>Genealogy</li>
					    <li>Insurance</li>
					    <li>Benefits (including Veterans benefits)</li>
					    <li>Legal purposes</li>
					    <li>Amendment of a vital record</li>
					    <li>Social security</li>
					    <li>Discharge loan</li>
					    <li>Tax purposes</li>
				    </ul>
				  </div>
				</div>

				  <p>
				  <a class="link text-decoration-none fw-semibold text-7dc0ff" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
				    What is the difference between a long form and a short form? <i class="fa-solid fa-greater-than"></i>
				  </a>
				  </p>

				<div class="collapse" id="collapseExample5">
				  <div class="card card-body border-0 text-light-grey">
				    <p>
				    	Birth certificates have two common versions, the short and long form. Both versions contain important information (like place of birth and parents names) and the quantity of amount shown varies from state to state. Depending on the reason for needing the certificate, you may be required to provide a long form.
						<b>Short Form Birth Certificate Format</b>
				    </p>
				    <p>
				    	A short form birth certificate contains almost all of the important information that is on a long form birth certificate except it may not have signatures or detailed parents information on it depending on the state location. It is usually used as proof of identity or citizenship. However, some states may not accept this version and require you ro request the long form. If you need the long form you will need to specify that in your application.
				    </p>
				    <p>
				    	<b>Long Form Birth Certificate Format</b>
				    	<br><br>
						A long form birth certificate, which is often referred to as the official version, typically has all the information regarding an individual's birth birth. However, the information included varies from state to state (e.g.; time and place of birth, parent’s names,address, signatures of those present at birth, etc.) A long form is often used to start an adoption process, if you are applying for a dual citizenship, or to obtain a passport.
				    </p>
				  </div>
				</div>

				  <p>
				  <a class="link text-decoration-none fw-semibold text-7dc0ff" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
				    How can I get a certified copy of a vital record? <i class="fa-solid fa-greater-than"></i>
				  </a>
				  </p>
				  	<div class="collapse" id="collapseExample6">
					  <div class="card card-body border-0 text-light-grey">
					    <p>Real Vital Birth Certificate is the fastest and most reliable way to acquire a certified copy of either a birth or death certificate. All vital records ordered throughReal Vital Birth Certificateare certified copies and are generally acceptable for proof of citizenship, obtaining a passport, driver's license renewal, etc. A certified copy of a birth certificate will usually include the following information (valid for obtaining a passport):</p>
					    <ul>
						    <li>Issued by the office of vital statistics of the state, county, or city where the birth occurred</li>
						    <li>Show the full name at birth</li>
						    <li>Show the parent's full name(s)</li>
						    <li>Indicate the date and place of birth</li>
						    <li>Bear the embossed, impressed, multi-colored, OR raised seal and signature of the issuing authority (the state that you are ordering the certificate from decides on what type of certification seal to use)</li>
						    <li>Indicate a registration / file date within one year of the birth</li>
						</ul>
						<p>It is very important that if you need your certificate for a Passport application that you select this as the 'Reason' for ordering the record. If you require a certified document for use overseas (Marriage abroad, International Adoption, Dual Citizenship, etc.,) you will need a separate certification referred to as an 'Apostille' or 'Certification Certificate'.</p>
						<p>Real Vital Birth Certificatemakes the process of requesting vital records easy, safe, and fast! Our application assistance services guarantee you get the right certificate.</p>
					  </div>
					</div>


				  <p>
				  <a class="link text-decoration-none fw-semibold text-7dc0ff" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
				    Does a birth / death certificate have an expiration date? <i class="fa-solid fa-greater-than"></i>
				  </a>
				</p>
				<div class="collapse" id="collapseExample7">
					  <div class="card card-body border-0 text-light-grey">
					    <p>
					    	Birth, death, marriage, and divorce certificates have no expiration date. However, if your copy is any way degraded or not all information is clearly visible, then you should consider <a href="" class="text-decoration-none">requesting a new one</a>
					    </p>
					  </div>
					</div>
				
				
				
				
				
    		</div>
    	</div>
    </section>
    <section class="container-fluid bg-3973b7 py-5">
    	<div class="row px-5 align-items-center">
    		<div class="col-lg-6">
    			<div class="fs-1 fw-semibold text-light">
    				Vital Record Services
    			</div>
    			<div class="my-3">
    				<p class="text-light">
    					We have simplified the complex process of obtaining the Vital Record Certificate you need and all from the comfort of your home. Save time, start now!
    				</p>
    			</div>
    		</div>
    		<div class="col-lg-6">
    			<div class="row justify-content-center">
    				<div class="col-lg-6 d-flex justify-content-center flex-column">
    					<p class="text-center text-light fw-bold fs-7">
    						Order a Birth Certificate
    					</p>
    					<button class="btn btn-warning col-lg-12 fw-bold fs-7">
    						Birth Certificate
    					</button>
    				</div>
    				<div class="col-lg-6">
    					<p class="text-center text-light fw-bold fs-7">
    						Order a death Certificate
    					</p>
    					<button class="btn btn-warning col-lg-12 fw-bold fs-7">
    						Birth Certificate
    					</button>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

<script src="simplemaps/mapdata.js" async></script>
<script src="simplemaps/usmap.js" async></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>


